{
  "openapi": "3.0.0",
  "info": {
    "title": "D-Tools SI API",
    "version": "1.0",
    "description": "Integration Into the D-Tools API",
    "contact": {
      "name": "Nicholas Pepper",
      "email": "neuralp@users.noreply.github.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.d-tools.com/SI",
      "description": "Cloud API Server"
    }
  ],
  "tags": [
    {
      "name": "project",
      "description": "Part of the projects"
    },
    {
      "name": "general",
      "description": "General API usage"
    },
    {
      "name": "product",
      "description": "Part of the products"
    }
  ],
  "paths": {
    "/Subscribe/Project": {
      "get": {
        "summary": "subscribeProject",
        "tags": [
          "project"
        ],
        "operationId": "get-Subscribe-Project",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "The project id",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "coNumber",
            "description": "coNumber is an optional parameter and is the Change Order Number. For approved project you can pass a change order number to get a specific change order for the approved project."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "aggregateBy",
            "description": "aggregateBy is an optional parameter and the value can be Item, Location, System or Phase. If aggregateBy is not provided then the project is returned unit wise (not aggregated)."
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "getAdjustmentsByItem",
            "description": "getAdjustmentsByItem is an optional parameter. If true then adjustments are returned with each project item. If false the adjustments are aggreegated and returend as project items."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Get a specific project for a given project id published by a SI user."
      },
      "parameters": []
    },
    "/Subscribe/Projects": {
      "get": {
        "summary": "subscribeProjects",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResult"
                }
              }
            }
          }
        },
        "operationId": "get-Subscribe-Projects",
        "description": "Get projects published by a SI user.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "clients",
            "description": "Clients to filter projects (Optional)"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "progresses",
            "description": "Progresses to filter projects (Optional)"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "includeImported",
            "description": "Boolean. Include already imported projects. Optional with default value false which means by default you will only see projects which are not imported."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "searchText",
            "description": "The search text."
          },
          {
            "schema": {
              "type": "integer",
              "default": 1
            },
            "in": "query",
            "name": "pageNumber",
            "description": "The page number."
          },
          {
            "schema": {
              "type": "integer",
              "default": 0
            },
            "in": "query",
            "name": "pageSize",
            "description": "The page size."
          }
        ]
      }
    },
    "/Subscribe/Projects/MarkAsImported": {
      "put": {
        "summary": "markProjectAsImported",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          }
        },
        "operationId": "put-Subscribe-Projects-MarkAsImported",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "required": true,
            "description": "The project id."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "coNumber",
            "description": "coNumber is an optional parameter and is the Change Order Number. For approved projects you can pass the change order number."
          }
        ],
        "description": "Mark a project as imported for a given project id."
      },
      "parameters": []
    },
    "/Subscribe/ProductCatalogs": {
      "get": {
        "summary": "getProductCatalogs",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResult"
                }
              }
            }
          }
        },
        "operationId": "get-Subscribe-ProductCatalogs",
        "description": "Get product catalogs published by a SI user.",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "includeImported",
            "description": "Boolean. Include already imported product catalogs. Optional with default value false which means by default you will only see product catalogs which are not imported."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "searchText",
            "description": "The search text."
          },
          {
            "schema": {
              "type": "integer",
              "default": 1
            },
            "in": "query",
            "name": "pageNumber",
            "description": "The page number."
          },
          {
            "schema": {
              "type": "integer",
              "default": 50
            },
            "in": "query",
            "name": "pageSize",
            "description": "The page size."
          }
        ]
      }
    },
    "/Subscribe/ProductCatalog": {
      "get": {
        "summary": "getProductCatalog",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalog"
                }
              }
            }
          }
        },
        "operationId": "get-Subscribe-ProductCatalog",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "required": true
          }
        ],
        "description": "Get a product catalog for a given catalog id.  "
      }
    },
    "/Subscribe/ProductCatalogs/MarkAsImported": {
      "put": {
        "summary": "markProductCatalogAsImported",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseMessage"
                }
              }
            }
          }
        },
        "operationId": "put-Subscribe-ProductCatalogs-MarkAsImported",
        "description": "Mark a product catalog as imported for a given catalog id.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "Street1": {
            "type": "string"
          },
          "Street2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Fax": {
            "type": "string"
          }
        },
        "x-tags": [
          "project"
        ]
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "IsPrimary": {
            "type": "boolean"
          }
        },
        "required": [
          "Name"
        ]
      },
      "Location": {
        "title": "Location",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "FullName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ParentId": {
            "type": "string"
          }
        },
        "required": [
          "Id"
        ]
      },
      "MiscItem": {
        "title": "MiscItem",
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Quantity": {
            "type": "integer"
          },
          "UnitPrice": {
            "type": "number"
          }
        }
      },
      "PaymentTerm": {
        "title": "PaymentTerm",
        "type": "object",
        "properties": {
          "Payment": {
            "type": "string"
          },
          "UseFixedAmount": {
            "type": "boolean"
          },
          "BillingPercentage": {
            "type": "number"
          },
          "BillingAmount": {
            "type": "number"
          },
          "BillingDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Project": {
        "title": "Project",
        "type": "object",
        "x-examples": {},
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectItem"
            }
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Package"
            }
          },
          "Id": {
            "type": "string"
          },
          "IntegrationProjectId": {
            "type": "string"
          },
          "Client": {
            "type": "string"
          },
          "ClientId": {
            "type": "string"
          },
          "IntegrationClientId": {
            "type": "string"
          },
          "ClientNumber": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Number": {
            "type": "string"
          },
          "Progress": {
            "type": "string"
          },
          "AssignedTo": {
            "type": "string"
          },
          "SalesRep": {
            "type": "string"
          },
          "ProjectManager": {
            "type": "string"
          },
          "Designer": {
            "type": "string"
          },
          "CurrencyCode": {
            "type": "string"
          },
          "CurrencyRate": {
            "type": "number",
            "format": "float"
          },
          "Cost": {
            "type": "number",
            "format": "float"
          },
          "PriceWithoutTax": {
            "type": "number",
            "format": "float"
          },
          "Margin": {
            "type": "number",
            "format": "float"
          },
          "Markup": {
            "type": "number",
            "format": "float"
          },
          "Tax": {
            "type": "number",
            "format": "float"
          },
          "Price": {
            "type": "number",
            "format": "float"
          },
          "Hours": {
            "type": "number",
            "format": "float"
          },
          "Budget": {
            "type": "number",
            "format": "float"
          },
          "ProductPriceType": {
            "type": "string"
          },
          "ClientPONumber": {
            "type": "string"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "EstimatedCloseDate": {
            "type": "string",
            "format": "date-time"
          },
          "CloseDate": {
            "type": "string",
            "format": "date-time"
          },
          "ScopeOfWork": {
            "type": "string"
          },
          "Notes": {
            "type": "string"
          },
          "SiteAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "BillingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "IsItemLevelTax": {
            "type": "boolean"
          },
          "ProductTaxId": {
            "type": "string"
          },
          "LaborTaxId": {
            "type": "string"
          },
          "Approved": {
            "type": "boolean"
          },
          "ApprovedOn": {
            "type": "string",
            "format": "date-time"
          },
          "IsChangeOrder": {
            "type": "boolean"
          },
          "CONumber": {
            "type": "integer"
          },
          "COStatus": {
            "type": "string"
          },
          "COType": {
            "type": "string"
          },
          "CONotes": {
            "type": "string"
          },
          "COAcceptedOn": {
            "type": "string",
            "format": "date-time"
          },
          "COCreatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField1": {
            "type": "string"
          },
          "CustomField2": {
            "type": "string"
          },
          "CustomField3": {
            "type": "string"
          },
          "CustomField4": {
            "type": "string"
          },
          "CustomField5": {
            "type": "string"
          },
          "CustomField6": {
            "type": "string"
          },
          "CustomField7": {
            "type": "string"
          },
          "CustomField8": {
            "type": "string"
          },
          "CustomField9": {
            "type": "string"
          },
          "CustomField10": {
            "type": "string"
          },
          "CustomField11": {
            "type": "string"
          },
          "CustomField12": {
            "type": "string"
          },
          "CustomField13": {
            "type": "string"
          },
          "CustomField14": {
            "type": "string"
          },
          "CustomField15": {
            "type": "number",
            "format": "float"
          },
          "CustomField16": {
            "type": "number",
            "format": "float"
          },
          "CustomField17": {
            "type": "number",
            "format": "float"
          },
          "CustomField18": {
            "type": "number",
            "format": "float"
          },
          "CustomField19": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField20": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField21": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField22": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField23": {
            "type": "boolean"
          },
          "CustomField24": {
            "type": "boolean"
          },
          "CustomField25": {
            "type": "boolean"
          },
          "CustomField26": {
            "type": "boolean"
          },
          "CustomField27": {
            "type": "string"
          },
          "CustomField28": {
            "type": "string"
          },
          "CustomField29": {
            "type": "string"
          },
          "CustomField30": {
            "type": "string"
          },
          "CustomField31": {
            "type": "string"
          },
          "CustomField32": {
            "type": "string"
          },
          "CustomField33": {
            "type": "string"
          },
          "CustomField34": {
            "type": "string"
          },
          "CustomField35": {
            "type": "string"
          },
          "CustomField36": {
            "type": "string"
          },
          "CustomField37": {
            "type": "string"
          },
          "CustomField38": {
            "type": "string"
          },
          "CustomField39": {
            "type": "string"
          },
          "CustomField40": {
            "type": "string"
          },
          "CustomField41": {
            "type": "string"
          },
          "CustomField42": {
            "type": "string"
          },
          "CustomField43": {
            "type": "string"
          },
          "CustomField44": {
            "type": "string"
          },
          "CustomField45": {
            "type": "string"
          },
          "CustomField46": {
            "type": "string"
          },
          "CustomField47": {
            "type": "string"
          },
          "CustomField48": {
            "type": "string"
          },
          "CustomField49": {
            "type": "string"
          },
          "CustomField50": {
            "type": "string"
          },
          "CustomField51": {
            "type": "string"
          },
          "CustomField52": {
            "type": "string"
          },
          "CustomField53": {
            "type": "string"
          },
          "CustomField54": {
            "type": "string"
          },
          "Contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "Locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "Systems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/System"
            }
          },
          "Taxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tax"
            }
          },
          "PaymentTerms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentTerm"
            }
          },
          "MiscItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MiscItem"
            }
          }
        },
        "required": [
          "Client",
          "Name"
        ]
      },
      "ProjectItem": {
        "type": "object",
        "title": "ProjectItem",
        "additionalProperties": false,
        "description": "A project item which can be product or labor or allowance or bundled cable or Placeholder",
        "x-examples": {
          "example-1": {
            "Id": "1",
            "TypeId": 1,
            "SIItemId": "d772d141-764c-472f-a8a4-720897c9a96c",
            "LaborType": null,
            "COChangeTypeId": null,
            "Manufacturer": "Aja",
            "Model": "KUMO-1616-12G",
            "PackageName": null,
            "PartNumber": null,
            "Category": "Video",
            "Subcategory": "Switcher",
            "Description": "Compact 16 x 16 router for 12G-SDI.",
            "ComponentId": "189",
            "SerialNumber": null,
            "IPAddress": null,
            "IPAddress2": null,
            "MACAddress1": null,
            "MACAddress2": null,
            "IsOfe": false,
            "IsNonBillable": false,
            "Quantity": 1,
            "UnitCost": 2255.05,
            "UnitPrice": 2495,
            "UnitPriceRounded": 2495,
            "Discount": 0,
            "LaborCalculationMethodId": null,
            "Phase": "Finish",
            "LaborHours": 1,
            "ProductAdjustment": 0,
            "MiscPartAdjustment": 0,
            "LaborAdjustment": 0,
            "InstallPrice": 2684.33,
            "IsTaxable": true,
            "TaxId": null,
            "AvalaraTaxCode": null,
            "AvalaraLaborTaxCode": null,
            "AcctgName": null,
            "Vendor": null,
            "DoNotOrder": false,
            "BulkWire": false,
            "LocationId": "24",
            "SystemId": "18",
            "ParentId": null,
            "CatalogId": "33d09408-cb5e-4240-aab7-145846e27755",
            "PackageId": null,
            "SolutionId": null,
            "OrderStatus": null,
            "OrderNumber": null,
            "OrderedDate": null,
            "OrderedDateTicks": 0,
            "ExpectedDeliveryDate": null,
            "ExpectedDeliveryDateTicks": 0,
            "ReceivedDate": null,
            "ReceivedDateTicks": 0,
            "Picked": false,
            "PickedDate": null,
            "PickedDateTicks": 0,
            "Installed": false,
            "InstalledDate": null,
            "InstalledDateTicks": 0,
            "InstalledNotes": null,
            "TrackingNumber": null,
            "UpdatedOn": "2021-12-07T21:51:13.7797638",
            "UpdatedOnTicks": 637745106737797600,
            "CustomField1": null,
            "CustomField2": null,
            "CustomField3": null,
            "CustomField4": null,
            "CustomField5": null,
            "CustomField6": null,
            "CustomField7": null,
            "CustomField8": null,
            "CustomField9": null,
            "CustomField10": null,
            "CustomField11": null,
            "CustomField12": null,
            "CustomField13": null,
            "CustomField14": null,
            "CustomField15": null,
            "CustomField16": null,
            "CustomField17": null,
            "CustomField18": null,
            "CustomField19": null,
            "CustomField20": null,
            "CustomField21": null,
            "CustomField22": null,
            "CustomField23": null,
            "CustomField24": null,
            "CustomField25": null,
            "CustomField26": null
          }
        },
        "properties": {
          "Id": {
            "type": "string"
          },
          "TypeId": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "maximum": 5,
            "description": "1 = Product, 2 = Labor, 3 = Allowance, 4 = Bundled Cable, 5 = Placeholder"
          },
          "LaborType": {
            "type": "string"
          },
          "SIItemId": {
            "type": "string"
          },
          "COChangeTypeId": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2,
            "description": "1 = Added on Change Order, 2 = Deleted on Change Order."
          },
          "Manufacturer": {
            "type": "string"
          },
          "Model": {
            "type": "string"
          },
          "PackageName": {
            "type": "string"
          },
          "PartNumber": {
            "type": "string"
          },
          "Category": {
            "type": "string"
          },
          "Subcategory": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ComponentId": {
            "type": "string"
          },
          "SerialNumber": {
            "type": "string"
          },
          "IPAddress": {
            "type": "string"
          },
          "IPAddress2": {
            "type": "string"
          },
          "MACAddress1": {
            "type": "string"
          },
          "MACAddress2": {
            "type": "string"
          },
          "IsOfe": {
            "type": "boolean"
          },
          "IsNonBillable": {
            "type": "boolean"
          },
          "Quantity": {
            "type": "number"
          },
          "UnitCost": {
            "type": "number"
          },
          "UnitPrice": {
            "type": "number"
          },
          "OFE": {
            "type": "boolean"
          },
          "UnitPriceRounded": {
            "type": "number"
          },
          "Discount": {
            "type": "number"
          },
          "LaborCalculationMethodId": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1 = Fixed, 2 = Variable, 3 = Phase"
          },
          "Phase": {
            "type": "string"
          },
          "LaborHours": {
            "type": "number"
          },
          "ProductAdjustment": {
            "type": "number"
          },
          "MiscPartAdjustment": {
            "type": "number"
          },
          "LaborAdjustment": {
            "type": "number"
          },
          "InstallPrice": {
            "type": "number"
          },
          "IsTaxable": {
            "type": "boolean"
          },
          "TaxId": {
            "type": "string"
          },
          "AvalaraTaxCode": {
            "type": "string"
          },
          "AvalaraLaborTaxCode": {
            "type": "string"
          },
          "AcctgName": {
            "type": "string"
          },
          "Vendor": {
            "type": "string"
          },
          "DoNotOrder": {
            "type": "boolean"
          },
          "BulkWire": {
            "type": "boolean"
          },
          "LocationId": {
            "type": "string"
          },
          "SystemId": {
            "type": "string"
          },
          "ParentId": {
            "type": "string"
          },
          "CatalogId": {
            "type": "string"
          },
          "PackageId": {
            "type": "integer"
          },
          "SolutionId": {
            "type": "integer"
          },
          "OrderStatus": {
            "type": "string"
          },
          "OrderNumber": {
            "type": "string"
          },
          "OrderedDate": {
            "type": "string",
            "format": "date-time"
          },
          "OrderedDateTicks": {
            "type": "integer",
            "format": "int64"
          },
          "ExpectedDeliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpectedDeliveryDateTicks": {
            "type": "integer",
            "format": "int64"
          },
          "ReceivedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ReceivedDateTicks": {
            "type": "integer",
            "format": "int64"
          },
          "Picked": {
            "type": "boolean"
          },
          "PickedDate": {
            "type": "string",
            "format": "date-time"
          },
          "PickedDateTicks": {
            "type": "integer",
            "format": "int64"
          },
          "Installed": {
            "type": "boolean"
          },
          "InstalledDate": {
            "type": "string",
            "format": "date-time"
          },
          "InstalledDateTicks": {
            "type": "integer",
            "format": "int64"
          },
          "InstalledNotes": {
            "type": "string"
          },
          "TrackingNumber": {
            "type": "string"
          },
          "UpdatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "UpdatedOnTicks": {
            "type": "integer",
            "format": "int64"
          },
          "CustomField1": {
            "type": "string"
          },
          "CustomField2": {
            "type": "string"
          },
          "CustomField3": {
            "type": "string"
          },
          "CustomField4": {
            "type": "string"
          },
          "CustomField5": {
            "type": "string"
          },
          "CustomField6": {
            "type": "number"
          },
          "CustomField7": {
            "type": "number"
          },
          "CustomField8": {
            "type": "number"
          },
          "CustomField9": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField10": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField11": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField12": {
            "type": "string"
          },
          "CustomField13": {
            "type": "string"
          },
          "CustomField14": {
            "type": "string"
          },
          "CustomField15": {
            "type": "string"
          },
          "CustomField16": {
            "type": "string"
          },
          "CustomField17": {
            "type": "string"
          },
          "CustomField18": {
            "type": "string"
          },
          "CustomField19": {
            "type": "boolean"
          },
          "CustomField20": {
            "type": "boolean"
          },
          "CustomField21": {
            "type": "boolean"
          },
          "CustomField22": {
            "type": "boolean"
          },
          "CustomField23": {
            "type": "string"
          },
          "CustomField24": {
            "type": "string"
          },
          "CustomField25": {
            "type": "string"
          },
          "CustomField26": {
            "type": "string"
          }
        },
        "required": [
          "Id",
          "TypeId",
          "PackageName"
        ]
      },
      "Package": {
        "title": "Package",
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "TypeId": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "1 = Package, 2 = Solution"
          },
          "Name": {
            "type": "string"
          },
          "ComponentId": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ParentId": {
            "type": "integer"
          }
        },
        "required": [
          "Id",
          "TypeId",
          "Name"
        ]
      },
      "Resource": {
        "title": "Resource",
        "type": "object",
        "description": "",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Roles": {
            "type": "string"
          },
          "IsOwner": {
            "type": "boolean"
          }
        },
        "required": [
          "Name"
        ]
      },
      "System": {
        "title": "System",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        },
        "required": [
          "Id",
          "Name"
        ]
      },
      "Tax": {
        "title": "Tax",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Rate": {
            "type": "number"
          },
          "ProductTotal": {
            "type": "number"
          },
          "LaborTotal": {
            "type": "number"
          },
          "Total": {
            "type": "number"
          }
        },
        "required": [
          "Id",
          "Name"
        ]
      },
      "ProjectInfo": {
        "title": "ProjectInfo",
        "type": "object",
        "description": "Project information.",
        "properties": {
          "Id": {
            "type": "string"
          },
          "IntegrationProjectId": {
            "type": "string"
          },
          "ClientId": {
            "type": "string"
          },
          "Client": {
            "type": "string"
          },
          "ClientNumber": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Number": {
            "type": "string"
          },
          "Progress": {
            "type": "string"
          },
          "Approved": {
            "type": "boolean"
          },
          "CONumber": {
            "type": "integer"
          },
          "CurrencyCode": {
            "type": "string"
          },
          "Price": {
            "type": "number",
            "format": "float"
          },
          "ImportedOn": {
            "type": "string",
            "format": "date-time"
          },
          "PublishedOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectsResult": {
        "title": "ProjectsResult",
        "type": "object",
        "properties": {
          "Projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectInfo"
            }
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      },
      "HttpResponseMessage": {
        "title": "HttpResponseMessage",
        "type": "object",
        "x-tags": [
          "general"
        ],
        "properties": {
          "Version": {
            "$ref": "#/components/schemas/Version"
          },
          "Content": {
            "$ref": "#/components/schemas/HttpContent"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "ReasonPhrase": {
            "type": "string"
          },
          "Headers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RequestMessage": {
            "$ref": "#/components/schemas/HttpRequestMessage"
          },
          "IsSuccessStatusCode": {
            "type": "boolean"
          }
        },
        "description": ""
      },
      "Version": {
        "title": "Version",
        "type": "object",
        "x-tags": [
          "general"
        ],
        "properties": {
          "Major": {
            "type": "integer"
          },
          "Minor": {
            "type": "integer"
          },
          "Build": {
            "type": "integer"
          },
          "Revision": {
            "type": "integer"
          },
          "MajorRevision": {
            "type": "integer"
          },
          "MinorRevision": {
            "type": "integer"
          }
        },
        "x-examples": {}
      },
      "HttpContent": {
        "title": "HttpContent",
        "type": "object",
        "properties": {
          "Headers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "HttpStatusCode": {
        "type": "integer",
        "title": "HttpStatusCode",
        "minimum": 100,
        "maximum": 505,
        "x-tags": [
          "general"
        ]
      },
      "HttpRequestMessage": {
        "title": "HttpRequestMessage",
        "type": "object",
        "description": "",
        "properties": {
          "Version": {
            "$ref": "#/components/schemas/Version"
          },
          "Content": {
            "$ref": "#/components/schemas/HttpContent"
          },
          "Method": {
            "$ref": "#/components/schemas/HttpMethod"
          },
          "RequestUri": {
            "type": "string"
          },
          "Headers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Properties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-tags": [
          "general"
        ]
      },
      "HttpMethod": {
        "title": "HttpMethod",
        "type": "object",
        "properties": {
          "Method": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "title": "Product",
        "additionalProperties": false,
        "description": "A product is an item from the product database (versus the individual project).",
        "properties": {
          "Id": {
            "type": "string"
          },
          "IntegrationProductId": {
            "type": "string"
          },
          "Manufacturer": {
            "type": "string"
          },
          "Model": {
            "type": "string"
          },
          "PartNumber": {
            "type": "string"
          },
          "Category": {
            "type": "string"
          },
          "Subcategory": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Msrp": {
            "type": "number",
            "format": "float"
          },
          "UnitCost": {
            "type": "number",
            "format": "float"
          },
          "UnitPrice": {
            "type": "number",
            "format": "float"
          },
          "OFE": {
            "type": "boolean"
          },
          "Phase": {
            "type": "string"
          },
          "LaborHours": {
            "type": "number",
            "format": "float"
          },
          "InstallPrice": {
            "type": "number",
            "format": "float"
          },
          "AcctgName": {
            "type": "string"
          },
          "Vendor": {
            "type": "string"
          },
          "OrderUom": {
            "type": "string"
          },
          "OrderUomUnits": {
            "type": "integer"
          },
          "DoNotOrder": {
            "type": "boolean"
          },
          "Height": {
            "type": "number",
            "format": "float"
          },
          "Width": {
            "type": "number",
            "format": "float"
          },
          "Depth": {
            "type": "number",
            "format": "float"
          },
          "Weight": {
            "type": "number",
            "format": "float"
          },
          "RackMounted": {
            "type": "boolean"
          },
          "RackUnits": {
            "type": "integer"
          },
          "Amps": {
            "type": "number",
            "format": "float"
          },
          "Volts": {
            "type": "number",
            "format": "float"
          },
          "Watts": {
            "type": "number",
            "format": "float"
          },
          "Btu": {
            "type": "number",
            "format": "float"
          },
          "Dispersion": {
            "type": "string"
          },
          "BulkWire": {
            "type": "boolean"
          },
          "InputTerminals": {
            "type": "string"
          },
          "InputSignals": {
            "type": "string"
          },
          "InputLabels": {
            "type": "string"
          },
          "OutputTerminals": {
            "type": "string"
          },
          "OutputSignals": {
            "type": "string"
          },
          "OutputLabels": {
            "type": "string"
          },
          "CustomField1": {
            "type": "string"
          },
          "CustomField2": {
            "type": "string"
          },
          "CustomField3": {
            "type": "string"
          },
          "CustomField4": {
            "type": "string"
          },
          "CustomField5": {
            "type": "string"
          },
          "CustomField6": {
            "type": "number"
          },
          "CustomField7": {
            "type": "number"
          },
          "CustomField8": {
            "type": "number"
          },
          "CustomField9": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField10": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField11": {
            "type": "string",
            "format": "date-time"
          },
          "CustomField12": {
            "type": "string"
          },
          "CustomField13": {
            "type": "string"
          },
          "CustomField14": {
            "type": "string"
          },
          "CustomField15": {
            "type": "string"
          },
          "CustomField16": {
            "type": "string"
          },
          "CustomField17": {
            "type": "string"
          },
          "CustomField18": {
            "type": "string"
          },
          "CustomField19": {
            "type": "boolean"
          },
          "CustomField20": {
            "type": "boolean"
          },
          "CustomField21": {
            "type": "boolean"
          },
          "CustomField22": {
            "type": "boolean"
          },
          "CustomField23": {
            "type": "string"
          },
          "CustomField24": {
            "type": "string"
          },
          "CustomField25": {
            "type": "string"
          },
          "CustomField26": {
            "type": "string"
          },
          "UpdatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "Approved": {
            "type": "boolean"
          },
          "Discontinued": {
            "type": "boolean"
          }
        },
        "required": [
          "Id"
        ]
      },
      "CatalogInfo": {
        "title": "CatalogInfo",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ImportedOn": {
            "type": "string",
            "format": "date-time"
          },
          "PublishedOn": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "Catalog Information"
      },
      "CatalogResult": {
        "title": "CatalogResult",
        "type": "object",
        "properties": {
          "Catalogs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogInfo"
            }
          },
          "TotalCount": {
            "type": "integer"
          }
        }
      },
      "ProductCatalog": {
        "title": "ProductCatalog",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        },
        "description": "Product catalog object"
      }
    },
    "securitySchemes": {
      "DTools-API-Key": {
        "name": "X-DTSI-ApiKey",
        "type": "apiKey",
        "in": "header",
        "description": "All API calls must pass an API key in the request header. The API key can be generated in SI 2016 Control Panel using the 'Manage Integrations' feature.\nAn API key is specific to a SI user and an integration."
      }
    }
  },
  "security": [
    {
      "DTools-API-Key": []
    }
  ]
}